body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

span, div {
}

button {
  background-color: #6EE87B;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  padding: 6px;
  font-size: 15px;
}